@import "../../globals/variables";
@import "../../globals/mixins";
.carousel {
  height: 800px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 800px;
  background-color: #777;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 101%;
}

#myCarousel{
	width:100%;
	max-height:800px;
	margin:0px auto 40px auto;
	z-index: -1;
	box-sizing:border-box;
	padding:0px;
	overflow:hidden;
    z-index: 100;
    & .row{
    	max-width:1440px;
		padding-left:100px;
		padding-right:100px;
		& .carousel-indicators-carrier{
			float:right;
			width:500px;
			height:30px;
			position:relative;
			& .carousel-indicators{
				width:500px;
				margin:0px;
				padding:0px;
				bottom:90px;
				left:0%;
				& li{
					border: 0px solid transparent;
					width:18px;
					height:18px;
					margin:5px;
					float:left;
					background-color:rgba(0,0,0,0.15);
				}
				&.active{
					background-color:rgba(0,0,0,0.5);
					margin:5px;	
				}
			}
		}
    }
	& .carousel-inner{
		& .item{
			padding:200px 0px 0px 0px;
			box-sizing:border-box;
			width:100%;
			img{
				object-fit:cover;
				position:absolute;
				top:0%;
				left:0%;
				min-height:100%;
				z-index: -1;
			}
			& .row{
				max-width:1440px;
				padding-left:100px;
				padding-right:100px;
				margin:0px auto;
				& .col-sm-4{}
				& .col-sm-8{
					padding-right:0px;
					& .carousel-details-container{
						background-color:rgba(255,255,255,0.96);
						padding:30px;
						box-sizing:border-box;
						position:relative;
						margin:0px 0px 0px 0px;
						z-index: 999;
						height:500px;
						width:500px;
						float:right;
						& .name-title{
							font-family:$IdealSans-Bold;
							font-size:20px;
							text-align: left;
							color:$black;
							padding-bottom:50px;
							& span{
								font-family:$IdealSans-Light;
								& span {
									font-family:$IdealSansLight-Italic;
								}

							}
						}
						& .story-label{
							font-family:$IdealSans-Book;
							font-size:18px;
							text-align:left;
							color:$rouge;
							letter-spacing:2px;
							text-transform:uppercase;
							line-height:1.5;
							padding-bottom:7px
						}
						& .Header-2{
							padding-top:30px;
							padding-bottom:5px;
							width:70%;
						}
						& a.btn{
							width:200px;
							margin:0px 5% 0px 0;
							left:30px;
							border-radius:0px;
							position:absolute;
							bottom:30px;
							&:last-child{
								left:255px;
							}
						}
						& .Body-4{
							padding-bottom:36px;
						}

					}
				}
				
			}
			
		}
	}
	& .scroll-btn{
		width:24px;
		height:24px;
		background:url('../images/global/scroll.svg') 0px 0px no-repeat;
		background-size:100% auto;
		position:absolute;
		bottom:20px;
		left:50%;
		z-index: 70;
		margin:0px auto;
	}
}


@import "mobile/hero-carousel-mobile";