@import "../../globals/variables";
@import "../../globals/mixins";
/* -----------------------------------------------------
	landing-side
-------------------------------------------------------*/
#profile{
	padding:20px;
	background-color:$white;
	height:100%;
	& h5{color:$slate-grey}
	& form{
		background: #e3f2f7;
		border:1px solid $skyblue;
		border-radius:5px;
		padding:0px;
		overflow:hidden;
		margin-bottom:20px;
		& .form-header{
			background-color: $skyblue;
			height:25px;
			padding-top:0px;
			margin-top:0px;
			margin-left:0px;
			& .col-sm-8{
				& p{
					color:#e3f2f7;
					text-transform:uppercase;
					font-size:16px;
				}
			}
			& .col-sm-4{
				& p{
					color:#e3f2f7;
					text-align:right;
					text-transform:uppercase;
					& span{
						color:$brick;
					}
				}
			}
		}
		& .row{
			margin:0px;
			padding-bottom:15px;
			& label{
				width:100%;
				margin:5px 0px 10px;

				& span{
					color:$brick;
				}
			}
			& input{
				margin-top:0px;
			}
			& .col-sm-6{
				& .row{
					margin:0px;
					& .col-sm-6{
						width:30%;
					    padding: 12px 0px;
					    margin: 0px 0;
					    display: inline-block;
					    box-sizing: border-box;
					}
				}
			}
			& input[type="radio"]{
				display:inline-block;
				float:left;
				margin:2px 5px;
			}
		}
		& label{color:$skyblue;text-transform:uppercase;}
	}
}
@import "mobile/profile-mobile";