@import "../../globals/variables";
@import "../../globals/mixins";
/* -----------------------------------------------------
	landing-side
-------------------------------------------------------*/
#profile{
	padding:20px;
	background-color:$white;
	height:100%;
	& h5{color:$slate-grey}
	& form{
		background: $white;
		border:1px solid transparent;
		border-radius:0px;
		padding:0px;
		overflow:hidden;
		margin-bottom:20px;
		& .form-group{
			background: #e3f2f7;
			border:1px solid $skyblue;
			border-radius:5px;
			margin-bottom:10px;
			& .form-header{
				background-color: $skyblue;
				height:25px;
				padding-top:0px;
				margin-top:0px;
				margin-left:0px;
				& .col-sm-8{
					& p{
						color:#e3f2f7;
						text-transform:uppercase;
						font-size:16px;
						margin-top:2px;
					}
				}
				& .col-sm-4{
					& p{
						color:#e3f2f7;
						text-align:right;
						text-transform:uppercase;
						margin-top:2px;
						& span{
							color:$brick;
						}
					}
				}
			}
			& .row{
				margin:0px;
				padding-bottom:15px;
				& label{
					width:100%;
					margin:10px 0px 10px;
					img{width:40px;height:auto;margin-top:-5px;}
					& span{
						color:$brick;
					}
				}
				& input{
					margin-top:0px;
					font-family:$Dosis-Regular;
				}
				& select{
			    	width:100%;
			    	height:30px;
			    	border-radius:0px;
			    	font-family:$Dosis-Regular;
				}
				& .col-sm-6{
						margin:0px;
						& .col-sm-6{
							width:30%;
						    padding: 12px 0px;
						    margin: 0px 0;
						    display: inline-block;
						    box-sizing: border-box;
						    font-family:$Dosis-Regular;
						}
				}
				& .col-sm-12{
					& .travel-points-row{
						margin-top:10px;
					}
					& .airline-logos{
						padding:0px;
						background:$white;
						& .col-sm-1{
						& img {width:100%;height:auto}
						}
					}
					& .addBtn{
						width:20px;
						height:20px;
						border-radius:50%;
						position:relative;
						float:right;
						background: url('../images/global/accordian-plus@2x.png') center center no-repeat;
						background-size: 100% auto;
						cursor:pointer;
						&.active{
							background: url('../images/global/accordian-minus@2x.png') center center no-repeat;
							background-size: 100% auto;
						}
					}
					& .removeBtn{
						width:20px;
						height:20px;
						border-radius:50%;
						position:relative;
						float:right;
						background: url('../images/global/accordian-minus@2x.png') center center no-repeat;
						background-size: 100% auto;
						cursor:pointer;
						
					}
					& .row{
						margin-left:-15px;
						margin-right:-15px;

					}
					& .col-sm-5, & .col-sm-2{
						

					}
				}
				& input[type="radio"]{
					display:inline-block;
					float:left;
					margin:2px 5px;
					font-family:$Dosis-Regular;
				}
			}
			& label{color:$skyblue;text-transform:uppercase;}
		}
	}
}
#errors{
	padding:20px;
	background-color:$white;
	height:100%;
	display:none;
	& p{
		color:red;
		font-family: "Dosis-SemiBold", Helvetica, Arial, sans-serif;
	    font-size: 16px;
	    font-weight: 500;
	    line-height: 1.56;
	    letter-spacing: 0.2px;
		margin:10px 0px;
	}
}
#save{
	padding:20px;
	background-color:$white;
	& button, & #save {
	    background-color:$skyblue;
	    color: white;
	    padding: 14px 20px;
	    margin: 8px 0;
	    text-align:center;
	    border: none;
	    cursor: pointer;
	    width: 100%;
	    float:right;
	    &:hover {
    		opacity: 0.8;
    		text-decoration:none;
		}
		&:focus{
			outline-color:white;
		}
	}
}
@import "mobile/profile-mobile";