@import "../../globals/variables";
@import "../../globals/mixins";
 #landing-page{
 	position:absolute;
 	height:100%;
 	width:100%;
 		& .row{
 			height:100%;
 		}
 }
@import "mobile/shared-mobile";