@import "../../globals/variables";
@import "../../globals/mixins";
/*Title Component*/
.title-container{
    width:100%;
    height:auto;
    float:left;
    margin-top:30px;
    & h1{
        text-align:center;
        margin:0px;
        & span{
            display:block;
        }
    }
}
/* Seperator Dotted line Component*/
.seperator-dots{
	height:15px;
	margin:0px auto 30px;
	font-family: $IdealSans-Medium;
	color:$black;
	font-size: 18px;
    line-height: 1.15;
    letter-spacing: 0.3px;
    white-space:nowrap;
    overflow:hidden;
    text-align:center;
    width:100%;
}
/* Introductory Page Text*/
.introductory-text{
	width:100%;
	margin:0px auto;
	padding:0px 60px;
	max-width:1140px;
	& p{
		font-family: $IdealSans-Light;
		font-size: 30px;
		line-height: 1.67;
		letter-spacing: 0.5px;
		text-align: center;
		color:$slate-grey;
		margin:0px;
		padding:0px;
	}
}
/* Breadcrumb*/
#breadcrumbs{
	margin-top:165px;
	padding-left:0px;
	padding-right:0px;
	& .row{
		max-width:1440px;
		padding-left:60px;
		padding-right:60px;
		margin:0px auto;
		& .col-sm-12{
			padding-left:0px;
			padding-right:0px;
			ol.breadcrumb{
				background-color:transparent;
				padding:0px 0px;
				margin-bottom:30px;
				margin-top:30px;
				& li.breadcrumb-item{
					font-family: $IdealSans-Light;
					font-size:16px;
					letter-spacing:0.2px;
					color:$slate-grey;
					& a{
						font-family: $IdealSans-Light;
						font-size:16px;
						letter-spacing:0.2px;
						color:$rouge;
						&:hover{
							text-decoration:none;
						}	
					}
				}
				& li.active{
					&::before{
						padding: 0 5px;
	    				color: #ccc;
					    content:">";
					}
					&::after{
						display:none;
					}
				}
			    & li + li:before {
					padding: 0 5px;
    				color: #ccc;
				    content:">";
				}
			}
		}
	}
}
/*Page Header*/
#page-header{
	padding-left:0px;
	padding-right:0px;
	& .row{
		max-width:1140px;
		padding-left:60px;
		padding-right:60px;
		margin:0px auto;
	}
}
.title{
	width:100%;
	margin:0px auto;
	max-width:1140px;
	& h1{
		float:left;
	}
	& a.cta{
		float:right;
	}
}
/*Generic Three Block Listing*/
#generic-three-block-listing{
	max-width:1440px;
	margin:0px auto 30px;
	padding:50px 60px;
	& .row{
		max-width:1140px;
		padding:50px 0px;
		border-top:1px solid $black;
		border-bottom:1px solid $black;
		margin:0px auto 0px auto;
		& .col-sm-4{
			padding-left:10px;
			padding-right:10px;
		}
		& .col-sm-4{
			float:left;
			height:auto;
			position:relative;
				& .story-title{
					font-family: $IdealSans-Light;
					font-size: 18px;
					font-weight: 300;
					line-height: 1.67;
					letter-spacing: 2px;
					text-transform:uppercase;
					margin-top:20px;
					margin-bottom:5px;
					color:$rouge;
					&:hover{
						text-decoration: none;
					}
				}
				& .story-subject{
					font-family:$Whitney-Medium;
					font-size: 32px;
					line-height: 1.25;
					letter-spacing: 0.2px;
					color:$black;
					&:hover{
						text-decoration: none;
					}
				}
				& img{
					width:100%;
					height:auto;
					&:hover, &:focus, &:active{
						text-decoration: none;
						outline-width:0px;
						border:0px;

					}
				}
			&:first-child{
				padding-left:0px;
				padding-right:20px;
			}
			&:last-child{
				padding-right:0px;
				padding-left:20px;
			}
		}
	}
}
/*Search Page*/
#search-page{
	margin:0px auto;
	padding-left:0px;
	padding-right:0px;
	padding-bottom:60px;
	& .row{
		max-width:1440px;
		padding-right:60px;
		padding-left:60px;
		margin:0px auto;
		& .col-sm-12{
			padding:0px 0px;
		}
	}
	& #search-container{
		max-width:1140px;
		& .col-sm-12{
			& .search-input-container{
				width:100%;
				height:80px;
				padding:20px 40px;
				background-color:$white;
				margin:0 auto 60px auto;
				position:relative;
				border:1px solid $black;
				& .search-input{
					background-color:$white;
					font-family:$IdealSans-Light;
					font-size: 30px;
					font-weight:normal;
					letter-spacing: 0.5px;
					width:90%;
					float:left;
					border:none;
					outline:none;
					border-radius:0px;
				}
				& .search-btn-3{
					width:44px;
					height:30px;
					padding:0px 0px;
					background:url('../images/global/search-hover.svg') right 0px no-repeat;
					background-size:70% auto;
					position:relative;
					right:0px;
					top:5px;
					float:right;
					border:none;
					outline:none;
					cursor:pointer;
				}
			}
			& .row{
				padding-right:0px;
				padding-left:0px;

				& .col-sm-8{
					padding-left:0px;
					width:60%;
					float:left;
					h2{
						width:100%;
						text-align:center;
						margin-bottom:30px;
					}
					& .row{
						& #search-results{
							opacity:0;
							& #searchData{
								margin:0px;
								padding:0px;
								float:left;
								list-style-type: none;
								& li{
									padding-bottom:20px;
									& p.Body-7-1{
										white-space:wrap; 
									    width:100%; 
									    overflow: hidden;
									    text-overflow: ellipsis; 
									}
								}

							}
							#searchData-pagination{
								width:100%;
								margin:0px auto;
								& #searchData-previous{
									float:left;
									font-family: $IdealSans-Light;
									color:$rouge;
									font-size:16px;
								}
								& #searchData-next{
									float:right;
								}
							}
							& .holder {
								margin: 0 auto;
								width:100%;
								& a {
									float:left;
									font-family: $IdealSans-Light;
									color:$slate-grey;
									font-size:16px;
									margin:0 5px;
									opacity:1;
									&:hover {
										text-decoration: none;
										color:$black;
									}
									&.jp-previous{float:left;color:$rouge;margin-right:35%;}
									&.jp-next{float:right;color:$rouge;}
									&.jp-first { margin-right: 0px; float:left; color:$rouge;
										&:before{
											content:'<';
											font-family: $IdealSans-Light;
											color:$rouge;
											font-size:12px;
										}
									}
									&.jp-last { margin-left: 0px; float:left; color:$rouge;
											&:after{
												content:'>';
											font-family: $IdealSans-Light;
											color:$rouge;
											font-size:14px;
											}
									}
									&.jp-current{ 
										font-weight: bold;
										color:$rouge;
										opacity:1;
										&:hover { 
											text-decoration:none;
											font-weight: bold;
										}
									}
									&.jp-disabled{
										opacity:0.5;
										color:$slate-grey;
										&.jp-disabled:hover {
											color: #bbb;
										}
									}
									&.arrowPrev, .arrowNext { width:29px; height:29px; top: 55px; cursor: pointer;color:$rouge;}
									& .arrowPrev { content:'<';  }
									& .arrowNext { content:'>;' }
								}
								& span{margin: 0 5px; float:left;}
							}
							&.on{
								opacity:1;
								transition:all 0.5s 0s linear;
							}
						}
					}
				}
				& .col-sm-4{
					background-color:rgba(0,0,0,0.04);
					padding:0px;
					width:31%;
					float:right;
					& .suggestionsBox{
						padding:30px;
						display:block;
						& .Date{text-transform:uppercase;
						}
						& .seperator-dots{
						    text-align:left;
						    width:100%;
						    margin-top:0px;
						    line-height:0px;
						}
						& ul{
							margin:0px 0px 30px 0px;
							padding:0px;
							list-style-type: none;
							& li{
								padding:5px 0px;
							}
							& a{
								font-family: $IdealSans-Book;
								color:$slate-grey;
								line-height:1.25;
								font-size:18px;
							}
						}
					}
				}
			}
		}
	}
}
/* Download PDF Link*/
#download-pdf-link{
	& .row{
		max-width:1140px;
		padding-left:60px;
		padding-right:60px;
		margin:0px auto;
		& a{
			font-family: $IdealSans-Light;
			font-size:18px;
			line-height: 30px;
			letter-spacing: 2px;
			text-transform:uppercase;
			color:$rouge;
			text-align: left;
			float:left;
			padding-top:10px;
			&:hover{
				text-decoration:none;
			}
		}
	}
}
/*Sharing Social Buttons*/
#sharing-buttons{
	& .row{
		max-width:1140px;
		padding-left:60px;
		padding-right:60px;
		margin:10px auto;
		& .sharing{
			display:table;
			padding-bottom:40px;
			& span{
				font-family: $IdealSans-Light;
				font-size:18px;
				line-height: 30px;
				letter-spacing: 2px;
				text-transform:uppercase;
				color:$rouge;
				text-align: left;
				float:left;
				padding-right:15px;
				padding-top:10px;
			}
			& a{
				font-family: $IdealSans-Light;
				font-size:18px;
				line-height: 30px;
				letter-spacing: 2px;
				text-transform:uppercase;
				color:$rouge;
				text-align: left;
				float:left;
				padding-top:10px;
				&:hover{
					text-decoration:none;
				}
			}
			& ul{
				padding:0px;
				margin:0px;
				list-style-type: none;
				float:left;
				& li{
					float:left;
					width:auto;
					&:last-child{
						padding-right:40px;
					}
				}
			}
			& a.facebook, a.twitter, a.linkedin, a.youtube{
				width:44px;
				height:44px;
				float:left;
				background-size:contain;
				margin:0px 5px;
			}
			& .facebook{
				background:url(../images/global/facebook.svg)center center no-repeat;
				margin-left:0px !important;
			}
			& .twitter{background:url(../images/global/twitter.svg)center center no-repeat;}
			& .linkedin{background:url(../images/global/linkedin.svg)center center no-repeat;}
			& .youtube{background:url(../images/global/youtube.svg)center center no-repeat;}
		}
	}
}
/*Generic Accordian Listing*/
#generic-accordian-listing{
	margin-top:50px;
	padding-left:0px;
	padding-right:0px;
	margin-bottom:90px;
	& .row{
		max-width:1440px;
		padding-left:60px;
		padding-right:60px;
		margin:0px auto 0px auto;
		& .col-sm-12{
			padding:0px;
			& .panel-group{
				border-radius:0px;
				max-width:950px;
				margin:0px auto;
				& .panel{
					border-radius:0px;
					border-top:1px solid $slate-grey;
					border-right:0px solid transparent;
					border-bottom:0px solid transparent;
					border-left:0px solid transparent;
					background-color: $white;
					margin:0px;
					& .panel-heading{
						padding:30px 0px;
						min-height:100px;
						height:auto;
						border-radius:0px;
						border-color:transparent;
						background-color:transparent;
						display: -webkit-box;
					    display: -webkit-flex;
					    display: flex;
					    -webkit-box-align: center;
					    -webkit-align-items: center;
					    align-items: center;
					    -webkit-box-pack: left;
					    -webkit-justify-content: left;
					    justify-content: left;
					    position:relative;
						& .panel-title{
							& .product-name{
								float:left;
								padding:0px 40px 0px;
								& p{
									margin:0px;
									float:left;
									font-family:$IdealSans-Light;
									font-size:24px;
									line-height:24px;
									letter-spacing:2.1px;
									color:$black;
									text-transform:uppercase;
								}
								&.open{
									& p{
										color:$rouge;
									}
								}
							}
						}
						& .accordianBtn{
							float:right;
							margin-top:0px;
							margin-right:15px;
							width: 50px;
							height:50px;
							background: url('../../gilead/images/global/accordian-minus@3x.png') center center no-repeat;
							background-size:50%;
							transition:all 0s 0s linear;
							position:absolute;
							right:0px;
							&.collapsed{
								background: url('../../gilead/images/global/accordian-plus@3x.png') center center no-repeat;
								background-size:50%;	
							}
						}
					}
					& .panel-body{
						border-top:0px;
						border-color:transparent;
						padding:0px 40px 40px 40px;
						& .description{
							width:90%;
							& p{
								font-family: $IdealSans-Light;
								font-size:20px;
								letter-spacing:0.3px;
								line-height:30px;
								color:$slate-grey;
							}
						}
					}
					& .panel-collapse{
					}
				}
				& .panel:nth-child(odd){
					background-color: rgba(0,0,0,0.04);
				}
				& .panel:last-child(){
						border-bottom:1px solid $slate-grey;
				}
			}
			& a.cta{
				margin:60px auto;
			}
		}	
	}
}
/*Bamner full width image*/
.banner-image{
	padding-left:0px;
	padding-right:0px;
	& .row{
		max-width:100%;
		margin:0px auto;
		& .map-notification{
			font-family:$IdealSansLight-Italic;
			font-size:24px;
			line-height: 44px;
			color:$rouge;
			text-align:center;
			margin:10px auto 40px;
		}
		& .full-width-image{
			width:100%;
			height:auto;
			margin:40px auto 40px;
			& img{
				width:100%;
				height:auto;
			}
		}
	}
}
/* corporate contributions Map*/
.map-image{
	width:100%;
	height:100%;
	margin:0px auto;
	background-color:rgba(0,0,0,0.10);
	& img{
		width:100%;
		height:auto;
	}
	& .path{
		transition:all .25s 0s linear;
		&.active{
			&.active{
				fill:#cbcccd;
				stroke:#cbcccd;
			}
			& path{
				fill:#cbcccd;
				stroke:#cbcccd;
			}
		}
	}
	& #north-america, & #south-america, & #asia, & #africa, & #middle-east, & #australia, & #europe{
		cursor:pointer;
		&:hover{
			& text{
				fill:#c50f3c;
			}
		}
	}
	& text.text{
		&.active{
			fill:#c50f3c;
		}
	}

}	
/*Generic Callout elements*/
#generic-callout-global{
	padding:30px;
	/* class for side callouts to turn bg-grey*/
	&.display-gray-background{
		background-color: rgba(0,0,0,0.04);
	}
	/* copy with bold text*/
	& p{
		font-family:$IdealSans-Light;
		color:$slate-grey;
		font-size: 32px;
		line-height: 48px;
		letter-spacing: 0.2px;
		& span{
			font-family:$IdealSans-Bold;
			color:$black;
		}
	}
	/* colored title*/
	& .title{
		font-family:$IdealSans-Light;
		font-size: 18px;
		line-height: 1.0;
		text-transform:uppercase;
		color:$rouge;
	}

	/* Colored Title and key monments table*/
	& p.Date{
		font-family: $IdealSans-Light;
		font-size:18px;
		line-height: 30px;
		letter-spacing:2px;
		color:$rouge;
		margin-bottom:10px;
		height:auto;
		text-transform:uppercase;
	}
	& .key-moments-table{
		& .table{
			margin:0px auto;
			& tbody{
				& tr{
					height:auto;
					border-top:1px solid $slate-grey;
					display:block;
					& th, td{
						padding:20px 0px;
						border-top:none;
						margin:0px;
						& p{
							margin:auto 0px;
						}
					}
					& td:first-child{
						width:80px;
						& p{
							text-align:left;
							padding:0px 0px 0px 20px;
							font-family: $IdealSans-Bold;
							font-size:18px;
							letter-spacing:1px;
							color:$black;
						}
					}
					& td:nth-child(2){
						width:auto;
						& p{
							font-family:$IdealSans-Light;
							font-size: 18px;
							line-height:26px;
							letter-spacing: 0.3px;
							padding:0px 20px 0px 0px;
							color:$slate-grey;
							&.single-line{
								line-height:48px;
							}
						}
					}
				}
				& tr:nth-child(odd){
					background-color: rgba(0,0,0,0.04);
				}
				& tr:last-child{
					border-bottom:1px solid $slate-grey;
				}
			}
		}
	}
	/* how to apply sidebar*/
	& .how-to-apply-sidebar{
		& .title{
			font-family:$IdealSans-Light;
			font-size: 18px;
			line-height: 1.0;
			text-transform:uppercase;
			color:$rouge;
		}
		& p{
			font-family:$IdealSans-Light;
			color:$slate-grey;
			font-size: 20px;
			line-height:30px;
			letter-spacing: 0.3px;
			& a{
				& span{
					font-family:$IdealSans-Light;
					color:$rouge;
					width:0px;
					overflow:hidden;
					font-size:0px;


				}
				&:hover{
					text-decoration:none;
				}
			}
			& span{
				font-family:$IdealSans-Medium;
				color:$black;
			}
		}
	}
	/* contact box*/
	& .contactBox{
		padding:0px;
		display:block;
		& .Date{
			text-transform:uppercase;
			margin-bottom:10px;
			font-family: $IdealSans-Light;
			font-size:20px;
			line-height:24px;
			letter-spacing:0.3px;
			color:$rouge;
		}
		& .seperator-dots{
		    text-align:left;
		    width:100%;
		    margin-top:0px;
		    line-height:0px;
		}
		& p{
			font-family:$IdealSans-Medium;
			font-size:20px;
			line-height:24px;
			letter-spacing:0.3px;
			color:$black;
			padding:0px;
			margin:0px;
			width:100%;
			float:left;
		}
		& a{
			font-family: $IdealSans-Light;
			font-size:20px;
			line-height:24px;
			letter-spacing:0.3px;
			color:$black;
			margin:0px 0px 30px 0px;
			padding:0px 0px 0px 0px;
			width:100%;
			float:left;
			& span{cursor:default;}
			&:hover{text-decoration:none;}
		}
	}
	/* contact info box with bottom links*/	
	& .contact-info-box{
		padding:0px;
		display:block;
		& .Date{text-transform:uppercase;
		}
		& .seperator-dots{
		    text-align:left;
		    width:100%;
		    margin-top:0px;
		    line-height:0px;
		}
		& ul{
			margin:0px 0px 0px 0px;
			padding:0px;
			list-style-type: none;
			& li{
				padding:0px 0px 30px;
				font-family: $IdealSans-Light;
				color:$black;
				line-height:24px;
				font-size:20px;
				letter-spacing:0.3px;
				& span{
					font-family:$IdealSans-Medium;
					line-height:30px;
					letter-spacing:0.3px;
					font-size:20px;
				}
				&:last-child{
					padding-bottom:0px;
				}
			}
			& a{
				font-family: $IdealSans-Light;
				color:$black;
				line-height:24px;
				font-size:20px;
				letter-spacing:0.3px;
			}
		}
	}
	& .links{
		background-color:$white;
		padding:0px;
		& ul{
			margin:0px 0px 0px 0px;
			padding:0px;
			list-style-type: none;
			& li{
				padding:0px 0px 20px;
			}
			& a{
				font-family: $IdealSans-Light;
				color:$rouge;
				line-height:20px;
				font-size:20px;
				letter-spacing:0.3px;
				&:hover{
					text-decoration:none;
				}
			}
		}
	}
	/* image blocks */
	& .image-block{
		width:100%;
		height:auto;
		& img{
			width:100%;
			height:auto;
		}
		& p{
			font-family:$IdealSans-Light;
			font-size: 18px;
			line-height: 1.67;
			letter-spacing: 2px;
			color:$rouge;
			text-align: left;
			margin:20px 0px 30px;
			text-transform:uppercase;
		}
	}	
	/* contact box*/
	& .contactBox{
		padding:0px;
		display:block;
		& .Date{
			text-transform:uppercase;
			margin-bottom:10px;
			font-family: $IdealSans-Light;
			font-size:20px;
			line-height:24px;
			letter-spacing:0.3px;
			color:$rouge;
		}
		& .seperator-dots{
		    text-align:left;
		    width:100%;
		    margin-top:0px;
		    line-height:0px;
		}
		& p{
			font-family:$IdealSans-Medium;
			font-size:20px;
			line-height:24px;
			letter-spacing:0.3px;
			color:$black;
			padding:0px;
			margin:0px;
			width:100%;
			float:left;
		}
		& a{
			font-family: $IdealSans-Light;
			font-size:20px;
			line-height:24px;
			letter-spacing:0.3px;
			color:$black;
			margin:0px 0px 30px 0px;
			padding:0px 0px 0px 0px;
			width:100%;
			float:left;
			& span{cursor:default;}
			&:hover{text-decoration:none;}
		}
	}
	/* contact info box with bottom links*/	
	& .contact-info-box{
		padding:0px;
		display:block;
		& .Date{text-transform:uppercase;}
		& .seperator-dots{
		    text-align:left;
		    width:100%;
		    margin-top:0px;
		    line-height:0px;
		}
		& ul{
			margin:0px 0px 0px 0px;
			padding:0px;
			list-style-type: none;
			& li{
				padding:0px 0px 30px;
				font-family: $IdealSans-Light;
				color:$black;
				line-height:24px;
				font-size:20px;
				letter-spacing:0.3px;
				& span{
					font-family:$IdealSans-Medium;
					line-height:30px;
					letter-spacing:0.3px;
					font-size:20px;
				}
				&:last-child{
					padding-bottom:0px;
				}
			}
			& a{
				font-family: $IdealSans-Light;
				color:$black;
				line-height:24px;
				font-size:20px;
				letter-spacing:0.3px;
			}
		}
	}
	& .links{
		background-color:$white;
		padding:0px;
		& ul{
			margin:0px 0px 0px 0px;
			padding:0px;
			list-style-type: none;
			& li{
				padding:0px 0px 20px;
			}
			& a{
				font-family: $IdealSans-Light;
				color:$rouge;
				line-height:20px;
				font-size:20px;
				letter-spacing:0.3px;
				&:hover{
					text-decoration:none;
				}
			}
		}
	}
	/* image blocks */
	& .image-block{
		width:100%;
		height:auto;
		& img{
			width:100%;
			height:auto;
		}
		& p{
			font-family:$IdealSans-Light;
			font-size: 18px;
			line-height: 1.67;
			letter-spacing: 2px;
			color:$rouge;
			text-align: left;
			margin:20px 0px 30px;
			text-transform:uppercase;
		}
	}	
}
/* site map*/
#site-map{
	max-width:1440px;
	margin:0px auto;
	padding:0px 60px;
	& .row{
		max-width:1140px;
		margin:0px auto;
		& .col-sm-6{
			a{
				color:$black;
				&h3{
					&:hover{
						text-decoration: none;
						color:$rouge;
					}
				}
				&:hover{text-decoration:none;color:$rouge;}
			}
			ul{
				padding:0px;
				margin:0px 0px 30px;
				list-style-type: none;
				font-family:$IdealSans-Light;
				font-size:18px;
				color:$slate-grey;
				line-height: 30px;
				letter-spacing: 1.2px;
				& li{
					& ul{margin-left:30px;}
					& a{
						color:$slate-grey;
						&:hover{
							text-decoration:none;
							color:$rouge;
						}
					}
				}
			}
		}
	}	
}
/* charitable Listing*/
#charitable-organizations-listing{
	max-width:1440px;
	margin:0px auto;
	padding:0px 60px;
	& .row{
		max-width:1140px;
		margin:0px;
		& .col-sm-4{
			& ul{
				float:left;
				padding:0px;
				margin:0px;
				list-style-type: none;
				& li{
					padding:25px 0px;
					& a{
						font-family:$IdealSans-Light;
						font-size:18px;
						text-align: left;
						line-height:24px;
						color:$slate-grey;
						&:hover{
							text-decoration:none;
							color:$rouge;
						}
					}
				}
			}
		}
		& .col-sm-8{
			& h3{
				margin:0px;
				padding:25px 0px 0px;
				line-height:1.5;
				height:auto;
			}
			& .table{
				margin-bottom:45px;
				& tbody{
					& tr{
						min-height:100px;
						height:auto;
						border-top:1px solid $slate-grey;
						display: -webkit-box;
						display: -moz-box;
						display: -ms-flexbox;
						display: -webkit-flex;
						display: flex;  
						-webkit-flex-flow: row wrap;
						justify-content: space-around;
						& th, td{
							padding:25px 0px 25px 30px;
							border-top:none;
							margin:0px;
							width:50%;
							vertical-align: middle;
							display: -ms-flexbox;
							display: -webkit-flex;
							display: flex;  
							align-items: center;
							& p{
								margin:0px 0px;
								font-family:$IdealSans-Light;
								font-size:14px;
								text-align: left;
								line-height:24px;
								color:$slate-grey;
								display:table;
								width:100%;
								float:left;
							}
						}
						& td:first-child{
							width:30%;
							& table{
								& tr{
									border:none;
									
									width:100%;
									height:auto;
									& td{
										width:100%;
									}
								}
								& tr:nth-child(even){
									background-color:transparent;
								}
							}
						}
						& td:last-child{
							width:20%;
							padding-right:30px;
							
						}
					}
					& tr:first-child{
						min-height:50px;
						height:50px;
						border-top:none;
						background-color: rgba(0,0,0,0.3);
					}
					& tr:nth-child(even){
						background-color: rgba(0,0,0,0.04);
						& td:last-child{
							& .arrow{
								&::before{
									border-left-color:$white;
								}
							}
						}
					}
					& tr:last-child{
						border-bottom:1px solid $slate-grey;
					}
				}
			}
		}
		& .modal{
			display:none;
			background-color:rgba(0,0,0,0.4);
		}
		& .modal-dialog{
			margin-top:30%;
			& .modal-content{
				border-radius:0px;
				border:none;
			}
			& .modal-body{
				& p{
					font-family: $IdealSans-Light;
					font-size:16px;
					color:$slate-grey;
				}
			}
			& .modal-header, & .modal-footer{
				border-top:none;
				border-bottom:none;
				& .btn{
					float:left;
					border-radius:0px;
					border:none;
					text-align:left;
					padding-left:0px;
					&:hover{
						background-color:transparent;
						box-shadow:none;
						color:$rouge;
					}
					&:focus{
						outline:none;
					}

				}
				& .close{
					width: 50px;
				    height: 50px;
				    background: url(../images/global/white-close-x.svg) 0px 0px no-repeat;
				    background-size: 100% auto;
				    position: absolute;
				    right: 0px;
				    top: -70px;
				    z-index: 6;
				    opacity:1;
				    &:focus{
				    	outline-color: transparent;
				    	outline:none;
				    }
				}
			}
		}
	}
}
@import "mobile/shared-mobile";