<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>TempoTrip - Admin Dashboard</title>
    <!--<link rel="shortcut icon" href="favicon.ico">-->
    <link href="css/tempotrip.css" rel="stylesheet">
  </head>

  <body id="admin-page">
    <div class="container-fluid">
        <div class="row">
            <!-- Profile ============================== -->
            @@include('../../renderings/components/global-header.html')
            <!-- / Profile ============================ --> 
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <!-- Profile ============================== -->
            @@include('../../renderings/components/dashboard.html')
            <!-- / Profile ============================ --> 
        </div>
    </div>
    
    <!-- JS ============================== -->
    <script src="js/tempotrip.bundle.js"></script>
    <script src="js/tempotrip.globals.bundle.js"></script>
     <script src="js/ajax/jPages.min.js"></script>
    <!-- / JS ============================ -->
    <script>
        $(function(){
            var search = [];

            $.getJSON('js/ajax/flights.json', function(data) {
                $.each(data.search, function(i, f) {
                    var liRow = "<li>" + "<p class='itinerary'>" + f.flightTitle + "</p>" +
                    "<p class='dept-city'>" + f.departureCity + "</p>" + "<p class='arrv-city'>" + f.arrivalCity + "</p>" + "<p class='dept-date'>" + f.departureDate + "</p>" + "<p class='arrv-date'>" + f.arrivalDate + "</p>" + "<p class='traveller'>" + f.traveller + "</p>" + "<p class='description'>" + f.description + "</p>" + "</li>"
                    $(liRow).appendTo("#dashboardData");
                    console.log($('#dashboardData').length);
                });

            });
            setTimeout( function(){
                $('#dashboard-results').addClass('on');
                paginate();
            },500)
            function paginate(){
                $("div.holder").jPages({
                    containerID : "dashboardData",
                        perPage      : 10,
                        startPage    : 1,
                        startRange   : 1,
                        midRange     : 5,
                        endRange     : 1,
                        previous    : "Previous",
                        next        : "Next",
                });
            }
        });
    </script>
    <!-- / JS ============================ -->
  </body>
</html>