<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>TempoTrip</title>
    <!--<link rel="shortcut icon" href="favicon.ico">-->
    <link href="../../tempotrip/css/tempotrip.css" rel="stylesheet">
  </head>

  <body>
    <!-- HEADER ============================== -->
    @@include('../../renderings/components/global-header.html')
    <!-- / HEADER ============================ -->
  
    <!-- JS ============================== -->
    <script src="../../tempotrip/js/dist/tempotrip.bundle.js"></script>
    <!-- / JS ============================ -->
  </body>
</html>