<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>TempoTrip</title>
    <!--<link rel="shortcut icon" href="favicon.ico">-->
    <link href="../../tempotrip/css/gilead.css" rel="stylesheet">
  </head>

  <body>
    
    <!-- HERO ============================== -->
    @@include('../../renderings/components/hero-carousel.html')
    <!-- / HERO ============================ -->
    

    <!-- JS ============================== -->
    <script src="../../tempotrip/js/dist/gilead.bundle.js"></script>
    <!-- / JS ============================ -->
  </body>
</html>