<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Gilead</title>
    <!--<link rel="shortcut icon" href="favicon.ico">-->
    <link href="../../tempotrip/css/tempotrip.css" rel="stylesheet">
  </head>

  <body id="home-page">
    
    <!-- HEADER ============================== -->
    @@include('../../renderings/components/global-header.html')
    <!-- / HEADER ============================ -->

    <!-- / Sidebar Navigation Nav ============================ -->
    @@include('../../renderings/components/sidebar-navigation.html')
    <!-- / Sidebar Navigation Nav ============================ -->

    <!-- FOOTER ============================== -->
    @@include('../../renderings/components/global-footer.html')
    <!-- / FOOTER ============================ --> 
    
    <!-- JS ============================== -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"></script>
    <script src="../../tempotrip/js/dist/tempotrip.bundle.js"></script>
    <script src="../../tempotrip/js/dist/tempotrip.globals.bundle.js"></script>
    <!-- / JS ============================ -->
  </body>
</html>