<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>TempoTrip - Login</title>
    <!--<link rel="shortcut icon" href="favicon.ico">-->
    <link href="css/tempotrip.css" rel="stylesheet">
  </head>

  <body id="login-page">
    <div class="container-fluid" id="landing-page">
        <div class="row">
            <!-- Left Side bar ============================== -->
            @@include('../../renderings/components/sidebar.html')
            <!-- / Left Side Bar ============================ --> 
            <!-- Left Side bar ============================== -->
            @@include('../../renderings/components/login.html')
            <!-- / Left Side Bar ============================ --> 
        </div>
    </div>
    
    <!-- JS ============================== -->
    <script src="js/tempotrip.bundle.js"></script>
    <script src="js/tempotrip.globals.bundle.js"></script>
    <!-- / JS ============================ -->
  </body>
</html>