<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>TempoTrip - Profile</title>
    <!--<link rel="shortcut icon" href="favicon.ico">-->
    <link href="css/tempotrip.css" rel="stylesheet">
  </head>

  <body id="profile-page">
    <div class="container-fluid">
        <div class="row">
            <!-- Profile ============================== -->
            @@include('../../renderings/components/global-header.html')
            <!-- / Profile ============================ --> 
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <!-- Profile ============================== -->
            @@include('../../renderings/components/profile.html')
            <!-- / Profile ============================ --> 
        </div>
    </div>
    
    <!-- JS ============================== -->
    <script src="js/tempotrip.bundle.js"></script>
    <script src="js/tempotrip.globals.bundle.js"></script>
    <!-- / JS ============================ -->
  </body>
</html>