@import "../../../globals/variables";
@import "../../../globals/mixins";
@include max-screen(xl) {
    #mobile-nav{display:none;}
}
@include max-screen(large) {
	
	.desktop-nav{display:block;}
	#mobile-nav{display:none;}
	& header{
		& .top-nav{
			& .row{	
				margin:0px auto;
			}
		}
		& .nav{
			& .row{
				
				margin:0px auto;
				& .col-sm-4{
					width:28%;
				}
				& .col-sm-8{
					width:72%
				}
			}
		}
		& .secondary-nav-container{
			& .row{
				& .col-sm-8{
					& .row{
						& .col-sm-6{
							& ul{
							font-size:18px;
							}
						}
					}
					& .secondary-nav{
						padding:28px 0px;
					}
				}
				& .col-sm-4{
					& .secondary-copy{
						padding:20px 20px;
						width:100%;
						& p{
							font-size:18px;
						}
					}
				}
			}
		}
	}
}
@include max-screen(mediumLarge) {
	.desktop-nav{display:none;}
	#mobile-nav{display:block;}
	
	& #search-sub-nav-mobile{
		display:none;
	}
	.navbar{
		height:80px;
		width:100%;
		margin-bottom:0px;
		& .logo{
			width:141px;
			max-height:40px;
			margin:20px 30px;
			& img{
				width:100%;
				height:auto;
			}
		}
		& .container{
			padding:0px;
			margin:0px;
			width:100%;
			& .navbar-header{
				margin:0px;
				width:100%;
				display:block;
				& a.search{
		   			float:right;
					width:40px;
					height:40px;
					padding:0px 0px;
					margin-top:20px;
					margin-right:5px;
					background:url('../images/global/search.svg') right 8px no-repeat;
					background-size:60% auto;
					-webkit-transition-property:all;
				    -moz-transition-property: all;
				    transition-property: all;
				    -webkit-transition-duration: 0.0s;
				    -moz-transition-duration: 0.0s;
				    transition-duration: 0.0s;
					&:hover{
						background:url('../images/global/search.svg') right 8px no-repeat;
						background-size:60% auto;
					}
					&.active{
						background:url('../images/global/close@3x.png')right 8px no-repeat;
						background-size:55% auto;
					}
				}
				& .navbar-default .navbar-toggle {
				    border-color: transparent;
				}
				& .navbar-toggle {
				    position: relative;
				    float: right;
				    margin-right: 30px;
				    padding: 7px 0px 9px 10px;
				    margin-top: 20px;
				    display:block;
				    margin-bottom: 8px;
				    background-color: transparent;
				    background:url('../images/global/close@3x.png')center 7px no-repeat;
				    background-size:42%;
				    border: 1px solid transparent;
				    border-radius: 0px;
				    & .icon-bar {
    					background-color: $rouge;
					}
					& .icon-bar {
					    display: block;
					    height: 2px;
					    width: 34px;
					    border-radius: 1px;
					    opacity:0
					}
				}
				& .navbar-toggle.collapsed{
					background:none;
					& .icon-bar{
						background-color:$black;
						width: 34px;
						opacity: 1;
					}
					& .icon-bar + .icon-bar {
    					margin-top: 8px;
    					margin-left:0px;
					}
					& .top-bar {
					    transform: rotate(0deg);
					    transform-origin: 10% 10%;
					    margin-top:0px;
				  	}
					& .middle-bar {
						opacity: 1;
					}
					& .bottom-bar {
						transform: rotate(0deg);
					    transform-origin: 10% 90%;

					}
					
				}


			}
			#navbar{
			
			}
			& .navbar-collapse{
				background-color:$white;
				padding-left:0px;
				padding-right:0px;
				margin-right:0px;
				margin-left:0px;
				border-width:0px;
				border-color:transparent;
				width:100%;
				height:1px;
				& .navbar-nav{
					margin:0px 0px;
				}
				& .logo{display:none;}
				& ul{
					background-color:rgba(0,0,0,0.04);
				   	float:right;
				   	display:block;
				   	width:100%;
				   	white-space:nowrap;
					box-sizing:border-box;
				   	margin:0px;
				   	padding:0px 30px 30px 30px;
				   	list-style-type: none;
				   	& li{
						float:left;
						padding:20px 0px;
						width:100%;
						height:310px;
						display:block;
						position:relative;
						border-top:1px solid $black;
						border-bottom:1px solid $black;
						font-family: $Whitney-Bold;
						letter-spacing::1px;
						& #home-btn{
							border-top:2px solid $black;
						}
						& #about-btn{
							border-bottom:2px solid $black;
						}
						& a{
							background-color:transparent;
						}
						& ul{
							background-color:transparent;
							padding-left:0px;
							padding-right:0px;
						}
						& ul li{
								border:none;
								height:auto;
						}
						& .secondary-nav-container, .search-nav-container{
							width:100%;
							display:block;
							box-sizing:border-box;
							overflow:hidden;
							padding:0px 0px;
							height:auto;
							position:absolute;
							top:50px;
							& .row{
								padding:0px 15px;
								& .col-sm-12{
									padding:0px 0px;
								}
								& ul{
									width:50%;
									float:left;
									font-family:$IdealSans-Light;
									font-size:16px;
									color:$slate-grey;
									border-top:.5px solid $slate-grey;
									list-style-type: none;
									line-height:1.78;
									letter-spacing:0.3px;
									padding:20px 0px;
									& li{
										padding:10px 0px;
										font-family:$IdealSans-Light;
										font-size:16px;
										letter-spacing:0.25px;
									}
									& li a{
										font-family:$IdealSans-Light;
										font-size:16px;
										color:$slate-grey;
										text-decoration: none;
										text-align:left;
										text-transform: none;
									}
									& li a:hover{
										color:$rouge;
										text-decoration: none;
									}
									& li a.active{
										color:$rouge;
										text-decoration:none;
									}
									& li a.two-line{
										line-height: 1.25;
									}
									& .secondary-copy{
										display:none;
									}
									& .secondary-nav{
										padding:10px 0px;
									}
								}
								
							}
						}
						& #therapies-secondary-nav{
							& .row{
								& ul:first-child{
									width:45%;
							}
								& ul:last-child{
										width:55%;
										padding-left:3%
								}
							}
							
						}
						& #internal-research-sub-nav{
							& ul{
								width:50%;
								& li{

								}
							}
						}
						& a{
							color:$black;
							padding:0px 0px;
							overflow:hidden;
							display:inline-block;
							text-align:center;
							width:100%;
							text-transform:uppercase;
							&:hover{
								color:$rouge;
								text-decoration: none;
							}
							&:focus{
								text-decoration:none;
							}
							&.search{
								width:30px;
								height:32px;
								padding:0px 0px;
								background:url('../images/global/search.svg') left top no-repeat;
								background-size:70% auto;
								&:hover{
									background:url('../images/global/search.svg') left top no-repeat;
									background-size:70% auto;
								}
								&.active{
									background:url('../images/global/close@3x.png')left top no-repeat;
								}
							}
							&#mobileSearchBtn.active{
								background:url('../images/global/close@3x.png')left top no-repeat;
							}
						}
						
					}
					& li#research-btn{
						height:200px;
					}
					& li#responsibility-btn{
						height:280px;
					}
					li#newsroom-btn{
						height:250px
					}
					li#about-btn{
						height:310px;
						border-bottom:2px solid $black;
					}
					& li.active{
						border-top:1px solid $rouge;
						background-color:transparent;
						& .secondary-nav-container{
							border-top:6px solid $rouge;
						}
					}
					& li.active::before{
						width:100%;
						height:6px;
						background-color:$rouge;
						content:'';
						color:$rouge;
						position:absolute;
						top:-3px;
						left:0px;
					}
					& li.active::after{
						width:100%;
						height:6px;
						background-color:transparent;
						content:'';
						color:$rouge;
						position:absolute;
						bottom:-3px;
						left:0px;
						z-index: 20;
					}
					
					& li:last-child{
						padding:20px 0px 20px 0px;
					}
		   			& #home-btn{
						display:block;
						height:60px;
						border-top:2px solid $black;
					}
		   		}
		   		& .top-nav{
					background-color: $black-4;
					box-sizing:border-box;
					height:auto;
					padding: 40px 30px;
					max-width:992px;
					& li{
					width: 50%;
					height:auto;
		    		margin: 0px 0% 0px 0;
		    		float: left;
		    		border-top:0px solid transparent;
		    		border-bottom:0px solid transparent;
		    			& a{
			    		border: 1px solid #000000;
					    color: #000000;
					    display: block;
					    text-align: center;
					    height: 50px;
					    padding: 20px 0px;
					    font-family: $Whitney-Bold;
					    font-size: 14px;
					    letter-spacing: 0.8px;
					    text-transform: uppercase;
						}
		    		}
		    		& li:last-child {
		    			padding-left:0px;
		    			& a{
				    		border-left:0px solid transparent;
				    	}
		    		}
					& .spacer{
						display:none;
					}
				}
				& .top-nav.scroll{
					background-color:transparent;
					& .col-sm-12{
						border-bottom:0px solid $white;
					}
				}
				&.collapse{
					display:none!important;
				}
				&.in{
					display:block!important;
					height:auto;
				}
			}
		}
	}
	& .secondary-nav-container, #desktop-search-btn{display:none;}
	& .search-nav-container{
			width:100%;
			box-sizing:border-box;
			overflow:hidden;
			padding:0px 0px 0px 0px;
			height:0px;
			background-color:rgba(0,0,0,0.85);
			position:absolute;
			top:80px;
			width: 100%;
			height:100%;
			display:none;
			& .row{
				margin:0px 0px;
				& .col-sm-12{
					padding:45% 60px 0 60px;
					background-color:rgba(0,0,0,0.04);
					height:944px;
					& .search-container{
						width:90%;
						height:50px;
						padding:10px 10px 10px 20px;
						background-color:$white;
						border:1px solid $black;
						margin:0px auto 30px;
						box-shadow:none;
						border-radius:0px;
						& .search-input{
							background-color:rgba(0,0,0,0.0);
							font-family:$IdealSans-Book;
							font-size: 18px;
							font-weight:normal;
							letter-spacing: 0.5px;
							width:80%;
							float:left;
							border:none;
							outline:none;
						}
						& .search-btn-2{
							width:30px;
							height:30px;
							padding:0px 0px;
							margin-top:5px;
							background:url('../images/global/search-hover.svg') 2px 0px no-repeat;
							background-size:70% auto;
							float:right;
							border:none;
							outline:none;
						}
						& .search-close-btn{
							display:none;
						}

					}
					& .suggestionsBox{
						display:none;
						& .Date{
							text-transform:uppercase;
						}
						& ul{
							margin:0px 0px 10px 0px;
							padding:0px;
							list-style-type: none;
							& li{
								padding:5px 0px;
							}
							& a{
								font-family: $IdealSans-Book;
								color:$slate-grey;
								line-height:1.0;
								font-size:18px;
							}
						}
					}
					& .suggestionsBox.hide{
						display:none;
					}	
					& .resultsBox{
						display:none;
						& h4{
							width:100%;
							& span{
								float:right;
								text-align:right;
								font-family: $IdealSansBook-Italic;
								color:$slate-grey;
								font-size:18px;
							}
						}
						& .paginate-nav{
							width:100%;
							margin:0px auto;
							position:absolute;
							bottom:0px;
							height:80px;
							background-color:$white;
							font-family:$IdealSansBook-Italic;
							font-size:18px;
							left:0px;
							color:$slate-grey;
							padding:25px;
							& a{
								float:left;
							}
							& .page-count{
								width:86%;
								float:left;
								text-align:center;
							}
							
						}
					}
					& .resultsBox.show{
						display:block;
					}
				}
			}
		}
	& #search-sub-nav-mobile.search-nav-container.fade.in{display:table}
    .modal-backdrop{display:none}	

    /* new search code*/
    #search-modal{
    top:80px;
	background:rgba(255,255,255,1);
		& .modal-dialog{
			width:100%;
			height:100%;
			margin:0% auto;
			& .modal-content{
				padding:20px 40px;
				background-color:rgba(0,0,0,0.05);
				border:none;
				box-shadow:none;
				& .modal-header, & .modal-footer{
					height:0px;
					border:none;
				}
				& .modal-body{
					padding:0px;
					& .search-container{
						width:100%;
						height:50px;
						padding:10px 20px 10px 10px;
						background-color:transparent;
						border:1px solid $black;
						margin:0% auto;
						position:relative;
						border-radius:0px;
						& .search-input{
							background-color:transparent;
							font-family:$IdealSans-Light;
							font-size: 20px;
							font-weight:normal;
							letter-spacing: 0.5px;
							width:80%;
							float:left;
							border:none;
							outline:none;
							border-radius:0px;
							margin-top:0px;
						}
						& .search-btn-2{
							width:44px;
							height:44px;
							padding:0px 0px;
							background:url('../images/global/search-hover.svg') center 10px no-repeat;
							background-size:70% auto;
							float:right;
							border:none;
							outline:none;
							cursor:pointer;
							margin-top:-11px;
						}


					}
					& .search-close-btn{
						width:50px;
						height:50px;
						background:url('../images/global/white-close-x.svg') 0px 0px no-repeat;
						background-size:100% auto;
						position:absolute;
						right:0px;
						top:-70px;
						z-index: 6;
						display:none;
					}
					& .suggestionsBox{
						display:block;
						margin-top:30px;
						& .Date{text-transform:uppercase;
						}
						& ul{
							margin:0px 0px 10px 0px;
							padding:0px;
							list-style-type: none;
							& li{
								padding:5px 0px;
							}
							& a{
								font-family: $IdealSans-Book;
								color:$slate-grey;
								line-height:1.25;
								font-size:18px;
							}
						}
					}
				}
			}
		}
	}
}
@include max-screen(medium) {
	/* New nav bar */
	.desktop-nav{display:none;}
	#mobile-nav{display:block;}
	.navbar{
		height:80px;
		position:absolute;
		& .logo{
			width:141px;
			max-height:40px;
			margin:20px 30px;
			& img{
				width:100%;
				height:auto;
			}
		}
		& .container{
			padding:0px;
			margin:0px;
			width:100%;
			& .navbar-header{
				margin:0px;
				width:100%;
				display:block;
				& a.search{
		   			float:right;
					width:40px;
					height:40px;
					padding:0px 0px;
					margin-top:20px;
					margin-right:5px;
					background:url('../images/global/search.svg') right 8px no-repeat;
					background-size:60% auto;
					-webkit-transition-property:all;
				    -moz-transition-property: all;
				    transition-property: all;
				    -webkit-transition-duration: 0.0s;
				    -moz-transition-duration: 0.0s;
				    transition-duration: 0.0s;
					&:hover{
						background:url('../images/global/search.svg') right 8px no-repeat;
						background-size:60% auto;
					}
					&.active{
						background:url('../images/global/close@3x.png')right 8px no-repeat;
						background-size:55% auto;
					}
				}
				& .navbar-default .navbar-toggle {
				    border-color: transparent;
				}
				& .navbar-toggle {
				    position: relative;
				    float: right;
				    margin-right: 30px;
				    padding: 7px 10px 9px;
				    margin-top: 20px;
				    display:block;
				    margin-bottom: 8px;
				    background-color: transparent;
				    background:url('../images/global/close@3x.png')center 7px no-repeat;
				    background-size:42%;
				    border: 1px solid transparent;
				    border-radius: 0px;
				    & .icon-bar {
    					background-color: $rouge;
					}
					& .icon-bar {
					    display: block;
					    height: 2px;
					    width: 34px;
					    border-radius: 1px;
					    opacity:0
					}
					
					

				}
				& .navbar-toggle.collapsed{
					background:none;
					& .icon-bar{
						background-color:$black;
						width: 34px;
						opacity: 1;
					}
					& .icon-bar + .icon-bar {
    					margin-top: 8px;
    					margin-left:0px;
					}
					& .top-bar {
					    transform: rotate(0deg);
					    transform-origin: 10% 10%;
					    margin-top:0px;
				  	}
					& .middle-bar {
						opacity: 1;
					}
					& .bottom-bar {
						transform: rotate(0deg);
					    transform-origin: 10% 90%;

					}
					
				}


			}
			#navbar{
				height:100%;
			}
			& .navbar-collapse{
				background-color:$white;
				padding-left:0px;
				padding-right:0px;
				margin-right:0px;
				margin-left:0px;
				border-width:0px;
				border-color:transparent;
				width:100%;
				& .navbar-nav{
					margin:0px 0px;
				}
				& .logo{display:none;}
				& ul{
					background-color:rgba(0,0,0,0.04);
				   	float:right;
				   	display:block;
				   	width:100%;
				   	white-space:nowrap;
					box-sizing:border-box;
				   	margin:0px;
				   	padding:0px 30px 30px 30px;
				   	list-style-type: none;
				   	& li{
						float:left;
						padding:20px 0px;
						width:100%;
						height:310px;
						display:block;
						position:relative;
						border-top:1px solid $black;
						border-bottom:1px solid $black;
						font-family: $Whitney-Bold;
						letter-spacing::1px;
						& #home-btn{
							border-top:2px solid $black;
						}
						& #about-btn{
							border-bottom:2px solid $black;
						}
						& a{
							background-color:transparent;
						}
						& ul{
							background-color:transparent;
							padding-left:0px;
							padding-right:0px;
						}
						& ul li{
								border:none;
								height:auto;
						}
						& .secondary-nav-container, .search-nav-container{
							width:100%;
							display:block;
							box-sizing:border-box;
							overflow:hidden;
							padding:0px 0px;
							height:auto;
							position:absolute;
							top:50px;
							& .row{
								padding:0px 15px;
								& .col-sm-12{
									padding:0px 0px;
								}
								& ul{
									width:50%;
									float:left;
									font-family:$IdealSans-Light;
									font-size:16px;
									color:$slate-grey;
									border-top:.5px solid $slate-grey;
									list-style-type: none;
									line-height:1.78;
									letter-spacing:0.3px;
									padding:20px 0px;
									& li{
										padding:10px 0px;
										font-family:$IdealSans-Light;
										font-size:16px;
										letter-spacing:0.25px;
									}
									& li a{
										font-family:$IdealSans-Light;
										font-size:16px;
										color:$slate-grey;
										text-decoration: none;
										text-align:left;
										text-transform: none;
									}
									& li a:hover{
										color:$rouge;
										text-decoration: none;
									}
									& li a.active{
										color:$rouge;
										text-decoration:none;
									}
									& li a.two-line{
										line-height: 1.25;
									}
									& .secondary-copy{
										display:none;
									}
									& .secondary-nav{
										padding:10px 0px;
									}
								}
								
							}
						}
						& #therapies-secondary-nav{
							& .row{
								& ul:first-child{
									width:45%;
							}
								& ul:last-child{
										width:55%;
										padding-left:3%
								}
							}
							
						}
						& #internal-research-sub-nav{
							& ul{
								width:50%;
								& li{

								}
							}
						}
						& a{
							color:$black;
							padding:0px 0px;
							overflow:hidden;
							display:inline-block;
							text-align:center;
							width:100%;
							text-transform:uppercase;
							&:hover{
								color:$rouge;
								text-decoration: none;
							}
							&:focus{
								text-decoration:none;
							}
							&.search{
								width:30px;
								height:32px;
								padding:0px 0px;
								background:url('../images/global/search.svg') left top no-repeat;
								background-size:70% auto;
								&:hover{
									background:url('../images/global/search.svg') left top no-repeat;
									background-size:70% auto;
								}
								&.active{
									background:url('../images/global/close@3x.png')left top no-repeat;
								}
							}
							&#mobileSearchBtn.active{
								background:url('../images/global/close@3x.png')left top no-repeat;
							}
						}
						
					}
					& li#research-btn{
						height:200px;
					}
					& li#responsibility-btn{
						height:280px;
					}
					li#newsroom-btn{
						height:250px
					}
					li#about-btn{
						height:310px;
						border-bottom:2px solid $black;
					}
					& li.active{
						border-top:1px solid $rouge;
						background-color:transparent;
						& .secondary-nav-container{
							border-top:6px solid $rouge;
						}
					}
					& li.active::before{
						width:100%;
						height:6px;
						background-color:$rouge;
						content:'';
						color:$rouge;
						position:absolute;
						top:-3px;
						left:0px;
					}
					& li.active::after{
						width:100%;
						height:6px;
						background-color:transparent;
						content:'';
						color:$rouge;
						position:absolute;
						bottom:-3px;
						left:0px;
						z-index: 20;
					}
					
					& li:last-child{
						padding:20px 0px 20px 0px;
					}
		   			& #home-btn{
						display:block;
						height:60px;
						border-top:2px solid $black;
					}
		   		}
		   		& .top-nav{
					background-color: $black-4;
					box-sizing:border-box;
					height:auto;
					padding: 40px 30px;
					max-width:768px;
					& li{
					width: 50%;
					height:auto;
		    		margin: 0px 0% 0px 0;
		    		float: left;
		    		border-top:0px solid transparent;
		    		border-bottom:0px solid transparent;
		    			& a{
			    		border: 1px solid #000000;
					    color: #000000;
					    display: block;
					    text-align: center;
					    height: 50px;
					    padding: 20px 0px;
					    font-family: $Whitney-Bold;
					    font-size: 14px;
					    letter-spacing: 0.8px;
					    text-transform: uppercase;
						}
		    		}
		    		& li:last-child {
		    			padding-left:0px;
		    			& a{
				    		border-left:0px solid transparent;
				    	}
		    		}
					& .spacer{
						display:none;
					}
				}
				& .top-nav.scroll{
					background-color:transparent;
					& .col-sm-12{
						border-bottom:0px solid $white;
					}
				}
			}
			&.collapse{
				display:none!important;
			}
			&.in{
				display:block!important;
			}
		}
	}
	& .secondary-nav-container, #desktop-search-btn{display:none;}
}

@include max-screen(small) {
	/* New nav bar */
	#header-container{
		margin-bottom:80px;
	}
	.desktop-nav{display:none;}
	#mobile-nav{display:block;}
	.navbar-static-top{position:fixed;}
	.navbar{
		height:80px;
		margin-bottom:0px;
		position:absolute;
		& .logo{
			width:141px;
			max-height:40px;
			margin:20px 30px;
			& img{
				width:100%;
				height:auto;
			}
		}
		& .container{
			width:100%;
			& .navbar-header{
				display:block;
				& a.search{
		   			float:right;
					width:40px;
					height:40px;
					padding:0px 0px;
					margin-top:20px;
					margin-right:5px;
					background:url('../images/global/search.svg') right 8px no-repeat;
					background-size:60% auto;
					-webkit-transition-property:all;
				    -moz-transition-property: all;
				    transition-property: all;
				    -webkit-transition-duration: 0.0s;
				    -moz-transition-duration: 0.0s;
				    transition-duration: 0.0s;
					&:hover{
						background:url('../images/global/search-hover.svg') right 8px no-repeat;
						background-size:60% auto;
					}
					&.active{
						background:url('../images/global/close@3x.png')right 9px no-repeat;
						background-size:55% auto;
					}
				}
				& .navbar-default .navbar-toggle {
				    border-color: transparent;
				}
				& .navbar-toggle {
				    position: relative;
				    float: right;
				    margin-right: 20px;
				    padding: 7px 10px 9px;
				    margin-top: 20px;
				    margin-bottom: 8px;
				    background-color: transparent;
				    background:url('../images/global/close@3x.png')center 8px no-repeat;
				    background-size:42%;
				    border: 1px solid transparent;
				    border-radius: 0px;
				    & .icon-bar {
    					background-color: $rouge;
					}
					& .icon-bar {
					    display: block;
					    height: 2px;
					    width: 34px;
					    border-radius: 1px;
					    opacity:0
					}
					
					

				}
				& .navbar-toggle.collapsed{
					background:none;
					& .icon-bar{
						background-color:$black;
						width: 34px;
						opacity: 1;
					}
					& .icon-bar + .icon-bar {
    					margin-top: 8px;
    					margin-left:0px;
					}
					& .top-bar {
					    transform: rotate(0deg);
					    transform-origin: 10% 10%;
					    margin-top:0px;
				  	}
					& .middle-bar {
						opacity: 1;
					}
					& .bottom-bar {
						transform: rotate(0deg);
					    transform-origin: 10% 90%;

					}
					
				}


			}
			#navbar {
				max-height:660px;
				& .top-nav{
					width:100%;
					margin:0px;
				}
				& .nav{
					margin:0px;
				}
			}
			& .navbar-collapse{
				background-color:$white;
				padding-left:0px;
				padding-right:0px;
				border-width:0px;
				margin:0px;
				border-color:transparent;
				& .navbar-nav{
					margin:0px 0px;
				}
				& .logo{display:none;}
				& ul{
					background-color:rgba(0,0,0,0.04);
				   	float:right;
				   	display:block;
				   	width:100%;
				   	white-space:nowrap;
					box-sizing:border-box;
				   	margin:0px;
				   	padding:0px 30px 30px 30px;
				   	list-style-type: none;
				   	& li{
						float:left;
						padding:20px 0px 0px;
						width:100%;
						height:270px;
						display:block;
						position:relative;
						border-top:1px solid $black;
						border-bottom:1px solid $black;
						font-family: $Whitney-Bold;
						letter-spacing:1px;
						
						& a{
							background-color:transparent;
						}
						& ul{
							background-color:transparent;
							padding-left:0px;
							padding-right:0px;
						}
						& ul li{
								border:none;
								height:auto;
						}
						
						& .secondary-nav-container, .search-nav-container{
							width:100%;
							display:block;
							box-sizing:border-box;
							overflow:hidden;
							padding:0px 0px;
							height:auto;
							position:absolute;
							top:50px;
							& .row{
								padding:0px 15px;
								& .col-sm-12{
									padding:0px 0px;
								}
								& ul{
									width:50%;
									float:left;
									font-family:$IdealSans-Light;
									font-size:16px;
									color:$slate-grey;
									border-top:.5px solid $slate-grey;
									list-style-type: none;
									line-height:1.78;
									letter-spacing:0.3px;
									padding:20px 0px 0px;
									& li{
										padding:10px 0px;
										font-family:$IdealSans-Light;
										font-size:16px;
										line-height:1.25;
										letter-spacing:0px;

									}
									& li a{
										font-family:$IdealSans-Light;
										font-size:16px;
										color:$slate-grey;
										text-decoration: none;
										text-align:left;
										text-transform: none;
									}
									& li a:hover{
										color:$rouge;
										text-decoration: underline;
									}
									& li a.two-line{
										line-height: 1.25;
									}
									& .secondary-copy{
										display:none;
									}
									& .secondary-nav{
										padding:10px 0px;
									}
								}
								
							}
						}
						& #therapies-secondary-nav{
							& .row{
								& ul:first-child{
									width:45%;
							}
								& ul:last-child{
										width:55%;
										padding-left:3%
								}
							}
							
						}
						& #internal-research-sub-nav{
							& ul{
								width:50%;
								& li{

								}
							}
						}
						& a{
							color:$black;
							padding:0px 0px;
							overflow:hidden;
							display:inline-block;
							text-align:center;
							width:100%;
							text-transform:uppercase;
							&:hover{
								color:$rouge;
								text-decoration: none;
							}
							&:focus{
								text-decoration:none;
							}
							&.search{
								width:30px;
								height:32px;
								padding:0px 0px;
								background:url('../images/global/search.svg') left top no-repeat;
								background-size:70% auto;
								&:hover{
									background:url('../images/global/search-hover.svg') left top no-repeat;
									background-size:70% auto;
								}
							}
							&#mobileSearchBtn.active{
								background:url('../images/global/close@3x.png')left top no-repeat;
							}
						}
						
					}
					& li#research-btn{
						height:200px;
					}
					& li#responsibility-btn{
						height:250px;
					}
					& li#newsroom-btn{
						height:230px;
					}
					& li.active{
						border-top:1px solid $rouge;
						border-bottom:1px solid $rouge;
						background-color:transparent;
					}
					& li.active::before{
					width:100%;
					height:6px;
					background-color:$rouge;
					content:'';
					color:$rouge;
					position:absolute;
					top:-3px;
					left:0px;

					}
					& li.active::after{
						width:100%;
						height:6px;
						background-color:$rouge;
						content:'';
						color:$rouge;
						position:absolute;
						bottom:-3px;
						left:0px;
						z-index: 20;
					}
					& li:last-child{
						padding:20px 0px 20px 0px;

					}
					& li#about-btn{
						height:270px;
						border-bottom:2px solid $black;
					}
		   			& #home-btn{
						display:block;
						height:60px;
						border-top:2px solid $black;
					}

		   		}
		   		& .top-nav{
					background-color: $black-4;
					box-sizing:border-box;
					height:auto;
					padding: 40px 30px;
					max-width:414px;
					& li{
					width: 50%;
					height:auto;
		    		margin: 0px 0% 0px 0;
		    		float: left;
		    		border-top:0px solid transparent;
		    		border-bottom:0px solid transparent;
		    			& a{
			    		border: 1px solid #000000;
					    color: #000000;
					    display: block;
					    text-align: center;
					    height: 50px;
					    padding: 20px 0px;
					    font-family: $Whitney-Bold;
					    font-size: 14px;
					    letter-spacing: 0.8px;
					    text-transform: uppercase;
						}
		    		}
		    		& li:last-child {
		    			padding-left:0px;
		    			& a{
				    		border-left:0px solid transparent;
				    	}
		    		}
					& .spacer{
						display:none;
					}
				}
				& .top-nav.scroll{
					background-color:transparent;
					& .col-sm-12{
						border-bottom:0px solid $white;
					}
				}
			}
		}
	}
	& #header-container{
		& .row{
			& .col-sm-12{
				& .search-nav-container{
					& .row{
						& .col-sm-12{
							padding:30px 30px;
						}
					}
				}
			}
		}
	}
	& .secondary-nav-container, #desktop-search-btn{
		display:none;
	}
	
}
