@import "../../../globals/variables";
@import "../../../globals/mixins";
@include max-screen(xl) {
    
}
@include max-screen(large) {
    footer{
        max-width:1024px;
        & .row.bottom{
            & .col-sm-8{
                & .col-sm-3{
                    width:100%;
                    padding-left:0px;
                }
                & .col-sm-9{
                    width:100%;
                    padding-left:0px;
                }
                & .copyright{
                    padding-left:0px;
                    & p{
                        font-size:13px;
                    }
                }
            }
            & .col-sm-4{
                & .disclaimer{
                    margin-top:46px;
                    & p{
                        text-align: left;
                        font-size:13px;
                    }
                }
            }
        }
    }
}
@include max-screen(mediumLarge) {
    footer{
        padding:50px 0px;
        & .row{
            padding-left:60px;
            padding-right:60px;
            & .col-sm-8{
                width:50%;
                float:left;
                & .col-sm-5{
                    
                    float:left;
                }
                & .col-sm-7{
                    float:left;
                }
            }
            & .col-sm-4{
                width:50%;
                float:left;
                padding-top:0px;
                padding-left:0px;
            }
        }
        & .row.bottom{
            & .col-sm-8{
                width:100%;
                float:left;
                & .col-sm-3{
                    width:100%;
                }
                & .col-sm-9{
                    width:100%;
                }
                & .copyright{
                    padding-left:0px;
                    & p{
                        font-size:10px;
                    }
                }
            }
            & .col-sm-4{
                width:100%;
                padding-left:0px;
                & .disclaimer{
                    margin-top:0px;
                    & p{
                        padding-top:0px;
                        text-align: left;
                        font-size:10px;
                    }
                }
            }
        }
    }

}
@include max-screen(medium) {
   footer {
        position:relative;
        height:auto;
        & .row{
            padding-left:60px;
            padding-right:60px;
            & .col-sm-8{
                width:100%;
                padding-left:0px;
                padding-right:0px;
                margin-bottom:30px;
                & .col-sm-5{
                    float:left;
                    margin-top:0px;
                }
                & .col-sm-7{
                }
               
                
            }
            & .col-sm-4{
                padding-left:0px;
                padding-right:0px; 
                margin-top:30px;
                float:left;
                width:100%;
                & .col-sm-12{
                    padding:10px 0px 0px 0px;
                     & a.facebook, a.twitter, a.linkedin, a.youtube{
                        width:35px;
                        height:35px;
                        float:left;
                        background-size:contain;
                        margin:0px 5px;
                    }
                }

            }
        }
        & .row{
            & .col-sm-8{
                margin-bottom:0px;
                & .col-sm-3{
                    width:100%;
                    float:left;
                    padding-left:0px;
                    & .logo{
                        width:165px;
                        height:46px;
                        margin-bottom:15px;
                    }
                    & .copyright , .disclaimer{
                        padding:0px;
                    }
                    & .copyright p, .disclaimer p {
                        padding:0px;
                        font-size:10px;
                    }
                }
            }
            &.bottom{
                & .col-sm-8{
                    width:100%;
                    & .copyright{
                        padding-left:0px;
                        padding-top:0px;
                    }
                }
                & .col-sm-4{
                    margin-top:0px;
                    width:100%;
                    & .disclaimer{
                        text-align:left;
                        margin-top:0px;
                        & p{
                            text-align:left;
                            padding-top:0px;
                            }
                    }
                }
            }
        }
         & .col-sm-3{
            margin-bottom:10px;
            width:100%;
         }
        & .col-sm-9, .col-sm-4{
            width:100%;
            float:left;
            padding-left:0px;
            & .copyright , .disclaimer{
                padding:0px;
            }
            & .copyright p, .disclaimer p {
                padding:0px;
                font-size:10px;
                text-align: left;
            }
        }
    } 
}

@include max-screen(small) {
    footer {
        position:relative;
        height:100%;
        & .row{
            padding-left:30px;
            padding-right:30px;
             & .col-sm-8{
                & .col-sm-4{
                    padding-left:0px;
                    padding-right:10px;
                    width:45%;
                    float:left;
                    
                }
               
            }
            & .col-sm-4{
                & .col-sm-12{
                    padding:0px 0px;
                }
            }

        }
        & .col-sm-4{
            padding-left:0px;
            padding-right:0px; 
            float:left;
            width:100%;
            margin-top:0px;
            & .Subhead-3{
                margin-bottom:5px;
            }
            & .col-sm-12{
                padding:0px 0px 0px 0px;
                 & a.facebook, a.twitter, a.linkedin, a.youtube{
                    width:35px;
                    height:35px;
                    float:left;
                    background-size:contain;
                    margin:0px 5px;
                }
            }

        }
        & .row{
            & .col-sm-8{
                & .col-sm-8, .col-sm-3{
                    width:100%;
                    float:left;
                    padding-left:0px;
                    & .logo{
                        width:165px;
                        height:46px;
                        margin-bottom:15px;
                    }
                    & .copyright , .disclaimer{
                        padding:0px;
                        font-size:10px;
                    }
                    & .copyright p, .disclaimer p {
                        padding:0px;
                        font-size:10px;
                    }
                }
            }
        }
         & .col-sm-3{
            margin-bottom:10px;
         }
        & .col-sm-9, .col-sm-4{
            width:100%;
            float:left;
            padding-left:0px;
            & .copyright , .disclaimer{
                padding:0px;
                font-size:10px;
            }
            & .copyright p, .disclaimer p {
                padding:0px;
                font-size:10px;
                text-align:left;
            }
        }
        & .row.bottom .col-sm-4 .disclaimer p{
            font-size:10px;
        }

    }
}