@import "../../../globals/variables";
@import "../../../globals/mixins";
@include max-screen(xl) {
    
}
@include max-screen(large) {
	& #myCarousel{
		& .carousel-inner{
			& .item{
				& .row{
					& .col-sm-4{
						width:40%;
						min-width:200px;
					}
					& .col-sm-8{
						width:60%;
					}
					& .carousel-details-container{
						margin-left:0px;
						& .name-title{
							font-size:18px;
							padding-bottom:60px;
						}
						& .Header-2{
							font-size:32px;
						}
						& .Body-4{
							font-size:20px;
							line-height:1.5;
							padding-bottom:30px;
						}
					}
				}
			}
			& .row{
				& .carousel-indicators{
					left:83%;
					width:auto;
					
				}
			}
		}
		.scroll-btn{
			bottom:40px;
		}
	} 

}
@include max-screen(mediumLarge){
	& #myCarousel{
		& .carousel-inner{
			& .item{
				padding-top:80px;
				height:680px;
				& .row{
					padding-right:40px;
					padding-left:40px;
					& .col-sm-4{
					}
					& .col-sm-8{
						float:right;
					}
				}
			}
			& .row{
				padding-right:40px;
				padding-left:40px;
			}
		}
		.scroll-btn{
			bottom:150px;
		}
	}
}
@include max-screen(medium) {
	#myCarousel{
		margin-top:80px;
		& .row{
			margin-left:0px;
			margin-right:0px;
		}
		& .carousel-indicators{
			left:83%;
			width:auto;
			bottom:120px;
			& li{
				
			}
		}
		& .carousel-inner{
			display:block;
			
			& .row{
				& .col-sm-8{
					padding-right:0px;
				}
			}
			
		}
		& .scroll-btn{
			left:50%;
			bottom:40px;
		}
	}  
}
@include max-screen(small) {
	#myCarousel{
		margin-top:-80px;
		height:753px;
		& .row{
			margin-left:0px;
			margin-right:0px;
		}
		& .carousel-inner{
			display:block;
			& .item{
				padding:80px 0px 0px 0px;
				height:753px;
				& .row{
					padding-left:0px;
					padding-right:0px;
					& .col-sm-4:first-child{
						display:none;
					}
					& .col-sm-8{
						padding:0px;
						width:100%;
						margin:0px;
						& .carousel-details-container{
							left:0;
							width:100%;
							height:270px;
							padding:20px 30px 30px;
							margin:340px 0px 0px 0px;
							& .name-title{
								display:none;
								
							}
							& .Header-2{
								width:100%;
								padding-top:20px;
							}
							& a.btn{
								border-radius:0px;
								margin:10px 0 0px 0;
								float:left;
								position: relative;
								width:50%;
								left:0px;
								top:0px;
							}
							& a.btn:last-child{
								border-left:0px solid transparent;
								left:0px;
								
							}
							& .Body-4{
								display:none;
							}
						}
					}
				}
				& img{
					width:100%;
					height:auto;
					position:absolute;
					top:0px;
					left:0px;
					z-index: -1;
				}
				
			}
			& .row{
				padding-left:0px;
				padding-right:0px;
				& .carousel-indicators-carrier{
					width:100%;
				}
				& .carousel-indicators{
					left:0%;
					width:auto;
					bottom:50px;
					& li{
						
					}
				}
			}
		}
		& .scroll-btn{
			left:50%;
			bottom:20px;
		}
	}  
}
