@import "../../../globals/variables";
@import "../../../globals/mixins";
/* -----------------------------------------------------
	secondary-navigation Navigation
-------------------------------------------------------*/
@include max-screen(xl) {
	 #secondary-navigation{ 
		& .row{ 
			& .col-sm-12{
				& .secondary-navigation{
					width:100%;
					font-size:1.25vw;
					& li{
						
						& a {
							
						}
					}
				}
			}
		}
	}
}
@include max-screen(large) {
	#secondary-navigation{ 
		& .row{ 
			& .col-sm-12{
				& .secondary-navigation{
					width:100%;
					font-size:1.25vw;
					& li{
						
						& a {
							
						}
					}
				}
			}
		}
	}
}
@include max-screen(mediumLarge) {
	#secondary-navigation{ 
		& .row{ 
			padding-left:40px;
			padding-right:40px;
			& .col-sm-12{
				& .secondary-navigation{
					width:100%;
					white-space: wrap;
					display:table;
					border-top:1px solid transparent;
					border-bottom:0px solid transparent;
					font-size:16px;
					& li{
						border-top:1px solid $black;
						border-bottom:0px solid transparent;
						&:last-child{
							border-bottom:1px solid $black;
						}
						& a {
							
						}
						&.sorter{
							width:100%;
							float:right;
							border-top:1px solid $black;
							border-bottom:none;
							& .dropdown{
								width:200px;
								float:right;
								& .btn{
									font-family:$Whitney-Bold;
									font-size:16px;
									font-weight:bold;
									text-transform:uppercase;
									color:$black;
									height:50px;padding:10px 5% 0px;
									line-height: inherit;
									float:right;
									border-radius:0px;
									width:200px;
									&:hover{
										background-color:transparent;
									}
									& span{
									    padding-left:40px;
									}
									&.btn-default{
										color:$black;
										border-color:transparent;
									}
									&:active{
										box-shadow:none;
									}
									&:focus{
										outline-color:transparent;
										outline-width: 0px;
									}
								}
								&.open{
									& .btn-default:active, & .btn-default.active, & .btn-default.dropdown-toggle{
										background-color:transparent;
									}
								}
								& .dropdown-menu{
									position:relative;
									border:1px solid transparent;
									border-radius:0px;
									box-shadow:none;
									font-family: $IdealSans-Light;
									font-size:20px;
									line-height: 40px;
									letter-spacing:0.3px;
									color:$black;
									font-weight:normal;
									text-align:left;
									text-transform:none;
									margin:0px 0px;
									padding:20px 20px;
										& li{
											font-family: $IdealSans-Light;
											font-size:20px;
											line-height: 40px;
											letter-spacing:0.3px;
											color:$black;
											font-weight:normal;
											text-align:left;
											border-top:0px solid transparent;
											border-bottom:0px solid transparent;
											& a{
												font-family: $IdealSans-Light;
												font-size:20px;
												line-height: 40px;
												letter-spacing:0.3px;
												color:$black;
												font-weight:normal;
												text-align:left;
												padding:8px 0px 0px;
												&:hover{
													background-color:transparent;
												}
											}
											&:last-child{
												border-top:0px solid transparent;
												border-bottom:0px solid transparent;
											}
										}
								}
								&:focus{
									outline-color:transparent;
									outline-width: 0px;
								}
							}
						}
					}
				}
			}
		}
	}
}
@include max-screen(medium) {
	
}
@include max-screen(small) {
	
}
