var dest = '.';

module.exports = {
	fonts: {
		dest: dest + '/Gilead2017/fonts'
	},
	images: {
		dest: dest + '/Gilead2017/images'
	},
	sass: {
		dest: dest + '/assets/gilead/css'
	},
	js: {
		dest: dest + '/assets/gilead/js/dist'
	}
};