/* -----------------------------------------------------------------------------
Import BASE
----------------------------------------------------------------------------- */
@import "variables";
@import "mixins";


body {
    background-color:#ffffff;
    overflow-x: hidden;
}

p, ul { 
	font-family:$Dosis-Regular;
	font-style: normal;
	font-stretch: normal;
	line-height:inherit;
	letter-spacing:inherit;
}
.logo{
	font-family:$Dosis-Bold;
	color:$skyblue;
	font-size:5em;
	letter-spacing:3px;
	height:85px;
	display:block;
	position:relative;
	padding-left:45px;
	width:74%;
	& span{ 
		font-family:$Dosis-Regular;
		color:$brick;
}
	&::after{
		content:'';
		width:40px;
		height:40px;
		position:absolute;
		top:40%;
		left:0px;
		background:url('../images/global/logo-3.svg') center center no-repeat;;
	}
}
& .modal{
		& .modal-box{
			position:relative;
			padding:2% 5%;
			margin:10% auto;
			background:#ffffff;
			box-shadow:2px 2px 20px #b3b3b3, -2px -2px 20px #b3b3b3;
			display:block;
			width:40%;
			height:auto;
			min-height:55%;
			& .logo{
				width:58%;
				height:60px;
				font-size:3em;
				&::after{
					width:30px;
					height:30px;
					top:25%
				}
			}
		}
	}
.close-btn{
	width:30px;
	height:30px;
	border-radius:50%;
	background:#ffffff;
	border:1px solid $skyblue;
	position:absolute;
	color:$skyblue;
	top:-20px;
	right:-10px;
	padding:10px;
	box-sizing:border-box;
	line-height:8px;
	cursor:pointer;
	&:focus{
		outline:none;
	}
	&:hover{
		opacity:1;
	}
}
& input[type=text], & input[type=password], & input[type=email], input[type=select], input[type=radio], select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    &::after{
    	content:'';
    	position:absolute;
    	top:0px;
    	right:0px;
    	display:none;

    }
    &:focus{
    	outline-color:#47a0be;
    	&:invalid{ /* when a field is considered invalid by the browser */
		    outline-color: #b03535;
		}
 
    }
}
& select{
	margin:0px;
}
& button, & input[type=submit], & a#submit {
    background-color:$skyblue;
    text-align:center;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    display:inline-block;
    &:hover {
		opacity: 0.8;
	}
	&:focus{
		outline-color:white;
	}
}
/*Common Styles based on Style Guide*/
h1{
	font-family:$Dosis-Bold;
	font-size: 40px;
	font-weight: bold;
	line-height: 1.5;
	letter-spacing: 1.2px;
	color: $black;
}
h2{
	font-family:$Dosis-Bold;
	font-size: 36px;
	font-weight: bold;
	line-height: 1.17;
	letter-spacing: 0.8px;
	color: $black;
}
h3{
	font-family:$Dosis-Medium;
	font-size: 32px;
	font-weight: 500;
	line-height: 1.25;
	letter-spacing: 0.2px;
	color: $black;

}
h4{
	font-family:$Dosis-Medium;
	font-size: 24px;
	font-weight: bold;
	line-height: 1.25;
	letter-spacing: 0.5px;
	color: $black;

}
h5{
	font-family:$Dosis-SemiBold;
	font-size: 18px;
	font-weight: 500;
	line-height: 1.56;
	letter-spacing: 0.2px;
	color: $black;
}
p{
	font-family:$Dosis-Regular;
	font-size:14px;
	color:$slate-grey;
}
b, strong{
	font-family:$Dosis-Bold;
	font-weight:bold;
}
i{
	font-style:italic;
}

a {
	color:$skyblue;
	transition:all 0.25s 0s linear;
    &:hover {
    	text-decoration:underline;
    	color:$slate-grey;
        
    }
    &:visited {

    }
    &:focus {
		color:$skyblue;
		outline:none;
		text-decoration:none;
    }
}
a.disabled{
	&:hover{
		text-decoration:none !important;
	}
	&:visited {
		text-decoration:none;
    }
    
}
a.tertiary{
	color:$black;
	text-decoration:underline;
	&:hover{
		text-decoration:none !important;
	}
	&:visited {

    }
}
a.tertiary.disabled{
	color:$black;
	text-decoration:none !important;
	&:hover{
		text-decoration:none !important;
	}
	&:visited {

    }
}
a.btn, li a.btn{
	border:1px solid $black;
	border-radius:0px;
	color:$black;
	display:block;
	text-align:center;
	height:50px;
	width:200px;
	padding:20px 0px;
	font-family :$Dosis-Regular;
	font-size:14px;
	letter-spacing:1px;
	text-transform:uppercase;
	margin:10px 0px;
	&:hover{
		border:1px solid $skyblue;
		color:$skyblue;
		text-decoration:none!important;
	}
	&:visited{

	}


}
a.cta{
	border:1px solid $skyblue;
	background-color:transparent;
	color:$white;
	display:block;
	text-align:center;
	width:200px;
	height:50px;
	padding:20px 0px;
	margin:10px 0px;
	font-family :$Dosis-Regular;
	font-size:14px;
	letter-spacing:0.8px;
	text-transform:uppercase;
	transition:all 0.25s 0s linear;
	&:hover{
		border:1px solid $skyblue;
		background-color:$white;
		color:$skyblue;
		text-decoration:none!important;
	}
	&:focus{
		text-decoration:none;
	}
}
/*IE10 */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	a.cta{
		padding-top:15px;
	}
	a.btn{
		padding-top:15px;
	}



}
