/* -----------------------------------------------------------------------------
Import FONTS
----------------------------------------------------------------------------- */

/* Then use elsewhere */
/*Dosis*/

@font-face {
	font-family: 'Dosis-Regular';
	src: url('../fonts/Dosis/Dosis-Regular.eot'); /* IE9 Compat Modes */
	src: url('../fonts/Dosis/Dosis-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/Dosis/Dosis-Regular.woff') format('woff'), /* Pretty Modern Browsers */
	url('../fonts/Dosis/Dosis-Regular.ttf')  format('truetype');/* Safari, Android, iOS */
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Dosis-ExtraLight';
	src: url('../fonts/Dosis/Dosis-ExtraLight.eot'); /* IE9 Compat Modes */
	src: url('../fonts/Dosis/Dosis-ExtraLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/Dosis/Dosis-ExtraLight.woff') format('woff'), /* Pretty Modern Browsers */
	url('../fonts/Dosis/Dosis-ExtraLight.ttf')  format('truetype'); /* Safari, Android, iOS */
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Dosis-Light';
	src: url('../fonts/Dosis/Dosis-Light.eot'); /* IE9 Compat Modes */
	src: url('../fonts/Dosis/Dosis-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/Dosis/Dosis-Light.woff') format('woff'), /* Pretty Modern Browsers */
	url('../fonts/Dosis/Dosis-Light.ttf')  format('truetype'); /* Safari, Android, iOS */
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Dosis-Medium';
	src: url('../fonts/Dosis/Dosis-Medium.eot'); /* IE9 Compat Modes */
	src: url('../fonts/Dosis/Dosis-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/Dosis/Dosis-Medium.woff') format('woff'), /* Pretty Modern Browsers */
	url('../fonts/Dosis/Dosis-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
	url('../fonts/Dosis/Dosis-Medium.svg#svgFontName') format('svg'); /* Legacy iOS */
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Dosis-SemiBold';
	src: url('../fonts/Dosis/Dosis-SemiBold.eot'); /* IE9 Compat Modes */
	src: url('../fonts/Dosis/Dosis-SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/Dosis/Dosis-SemiBold.woff') format('woff'), /* Pretty Modern Browsers */
	url('../fonts/Dosis/Dosis-SemiBold.ttf')  format('truetype'), /* Safari, Android, iOS */
	url('../fonts/Dosis/Dosis-SemiBold.svg#svgFontName') format('svg'); /* Legacy iOS */
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Dosis-Bold';
	src: url('../fonts/Dosis/Dosis-Bold.eot'); /* IE9 Compat Modes */
	src: url('../fonts/Dosis/Dosis-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/Dosis/Dosis-Bold.woff') format('woff'), /* Pretty Modern Browsers */
	url('../fonts/Dosis/Dosis-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
	url('../fonts/Dosis/Dosis-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Dosis-ExtraBold';
	src: url('../fonts/Dosis/Dosis-ExtraBold.eot'); /* IE9 Compat Modes */
	src: url('../fonts/Dosis/Dosis-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/Dosis/Dosis-ExtraBold.woff') format('woff'), /* Pretty Modern Browsers */
	url('../fonts/Dosis/Dosis-ExtraBold.ttf')  format('truetype'), /* Safari, Android, iOS */
	url('../fonts/Dosis/Dosis-ExtraBold.svg#svgFontName') format('svg'); /* Legacy iOS */
	font-weight: normal;
	font-style: normal;
}
