/* -----------------------------------------------------------------------------
Import FONTS
----------------------------------------------------------------------------- */

/* Then use elsewhere */
/*IdealSans*/

@font-face {
	font-family: 'IdealSans-Light';
	src: url('../fonts/IdealSans/IdealSans-Light.eot'); /* IE9 Compat Modes */
	src: url('../fonts/IdealSans/IdealSans-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/IdealSans/IdealSans-Light.woff') format('woff'), /* Pretty Modern Browsers */
	url('../fonts/IdealSans/IdealSans-Light.ttf')  format('truetype');/* Safari, Android, iOS */
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'IdealSansLight-Italic';
	src: url('../fonts/IdealSans/IdealSans-LightItalic.eot'); /* IE9 Compat Modes */
	src: url('../fonts/IdealSans/IdealSans-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/IdealSans/IdealSans-LightItalic.woff') format('woff'), /* Pretty Modern Browsers */
	url('../fonts/IdealSans/IdealSans-LightItalic.ttf')  format('truetype'); /* Safari, Android, iOS */
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'IdealSans-Book';
	src: url('../fonts/IdealSans/IdealSans-Book.eot'); /* IE9 Compat Modes */
	src: url('../fonts/IdealSans/IdealSans-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/IdealSans/IdealSans-Book.woff') format('woff'), /* Pretty Modern Browsers */
	url('../fonts/IdealSans/IdealSans-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
	url('../fonts/IdealSans/IdealSans-Book.svg#svgFontName') format('svg'); /* Legacy iOS */
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'IdealSansBook-Italic';
	src: url('../fonts/IdealSans/IdealSans-BookItalic.eot'); /* IE9 Compat Modes */
	src: url('../fonts/IdealSans/IdealSans-BookItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/IdealSans/IdealSans-BookItalic.woff') format('woff'), /* Pretty Modern Browsers */
	url('../fonts/IdealSans/IdealSans-BookItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
	url('../fonts/IdealSans/IdealSans-BookItalic.svg#svgFontName') format('svg'); /* Legacy iOS */
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'IdealSans-Medium';
	src: url('../fonts/IdealSans/IdealSans-Medium.eot'); /* IE9 Compat Modes */
	src: url('../fonts/IdealSans/IdealSans-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/IdealSans/IdealSans-Medium.woff') format('woff'), /* Pretty Modern Browsers */
	url('../fonts/IdealSans/IdealSans-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
	url('../fonts/IdealSans/IdealSans-Medium.svg#svgFontName') format('svg'); /* Legacy iOS */
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'IdealSans-Bold';
	src: url('../fonts/IdealSans/IdealSansPro-Bold.eot'); /* IE9 Compat Modes */
	src: url('../fonts/IdealSans/IdealSansPro-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/IdealSans/IdealSansPro-Bold.woff') format('woff'), /* Pretty Modern Browsers */
	url('../fonts/IdealSans/IdealSansPro-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
	url('../fonts/IdealSans/IdealSansPro-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
	font-weight: normal;
	font-style: normal;
}
/*Whitney*/

@font-face {
	font-family: 'Whitney-Medium';
	src: url('../fonts/Whitney/Whitney-Medium.eot'); /* IE9 Compat Modes */
	src: url('../fonts/Whitney/Whitney-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/Whitney/Whitney-Medium.woff') format('woff'), /* Pretty Modern Browsers */
	url('../fonts/Whitney/Whitney-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
	url('../fonts/Whitney/Whitney-Medium.svg#svgFontName') format('svg'); /* Legacy iOS */
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Whitney-Bold';
	src: url('../fonts/Whitney/Whitney-Bold.eot'); /* IE9 Compat Modes */
	src: url('../fonts/Whitney/Whitney-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/Whitney/Whitney-Bold.woff') format('woff'), /* Pretty Modern Browsers */
	url('../fonts/Whitney/Whitney-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
	url('../fonts/Whitney/Whitney-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
	font-weight: normal;
	font-style: italic;
}
