@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";

// BREAKPOINTS (Media Queries) =============================================== *
$breakpoints: (
	'xs' :320px,
  	'small'  : 414px,
  	'smallMedium' : 685px,
  	'medium' : 768px,
  	'mediumLarge'  : 992px,
  	'large'  : 1024px,
  	'xl'  : 1280px
);

/*colors*/

$yellow: #bea847;
$teal:#47be65;
$skyblue:#47a0be;
$skyblue-mono:#5e93a5;
$purple:#5747be;
$brick:#ff3300;
$pink:#be4772;
$slate-grey: #54565b;
$black: #000000;
$white:#ffffff;
$white-2:rgba(255,255,255,0.25);
$white-5:rgba(255,255,255,0.5);
$black-2: rgba(0, 0, 0, 0.25);
$black-5: rgba(0,0,0,0.5);

/*Fonts*/
$Dosis-Regular: 'Dosis-Regular', Helvetica, Arial, sans-serif;
$Dosis-Light: 'Dosis-Light', Helvetica, Arial, sans-serif;
$Dosis-ExtraLight: 'Dosis-ExtraLight', Helvetica, Arial, sans-serif;
$Dosis-Medium: 'Dosis-Medium', Helvetica, Arial, sans-serif;
$Dosis-SemiBold: 'Dosis-SemiBold', Helvetica, Arial, sans-serif;
$Dosis-Bold: 'Dosis-Bold', Helvetica, Arial, sans-serif;
$Dosis-ExtraBold: 'Dosis-ExtraBold', Helvetica, Arial, sans-serif;