<div class="col-sm-8" id="dashboard">
	<h5>Dashboard</h5> 
	
</div>
<div class="row" id="recent-flights">
	<div class="col-sm-2"></div>
	<div class="col-sm-8">
		<div id="dashboard-results">
			<div class="labels">
					<p class="itinerary">Flight Title</p>
					<p class="dept-city">Departure City</p>
					<p class="arrv-city">Arrival City</p>
					<p class="dept-date">Departure Date</p>
					<p class="arrv-date">Arrival Date</p>
					<p class="traveller">Traveller</p>
				</div>
			<ul id="dashboardData"></ul>
			<div class="holder"></div>
		</div>
	</div>
	<div class="col-sm-2"></div>
</div>
