<div class="container-fluid" id="meetingMaker">
  <div class="row">
    <div class="col-sm-12">
      <div id="wrapper">
        <div id="scroller">
            <div class="slide" id="slide1">Cell 1</div>
            <div class="slide" id="slide2">Cell 2</div>
            <div class="slide" id="slide3">Cell 3</div>
            <div class="slide" id="slide4">Cell 4</div>
            <div class="slide" id="slide5">Cell 5</div>
        </div>
        <ul id="progress-nav">
            <li id="btn1">1</li>
            <li id="btn2">2</li>
            <li id="btn3">3</li>
            <li id="btn4">4</li>
            <li id="btn5">5</li>
        </ul>
      </div>
    </div>
  </div>
</div>