<div class="container-fluid" id="header-container">
	<div class="row">
		<div class="col-sm-12">
				<!-- Desktop Nav-->
				<div class="navbar-wrapper desktop-nav" id="nav-wrapper">
					<div class="container-fluid">
						<header id="header">
							<nav>
								<!--Desktop Nav-->
									<div class="nav" id="main-nav">
										<div class="row">
											<div class="col-sm-4">
												<a href="home.html" class="logoBtn">
													<div class="logo"></div>TempoTrip
												</a>
												
											</div>
											<div class="col-sm-8">
												<ul>
													<li><a href="#" class="account"></a></li>
												</ul>
											</div>
										</div>
									</div>
							</nav>
						</header>
					</div>
				</div>
				<!-- /Desktop Nav-->
				
			</div>
	</div>
</div>