<div class="container-fluid">
  <div class="row">
      <footer>
    		<div class="row bottom">
    			<div class="col-sm-12">
            <div class="col-sm-4">
              <a href="home.html" class="logoBtn">
                  <div class="logo"></div>TempoTrip
              </a>
            </div>
            <div class="col-sm-8">
              <div class="copyright">
                    <p>&copy; 2009&#8209;<span><script>document.write(new Date().getFullYear())</script></span> Tempotrip. All rights reserved <span>::</span> <a href="#">Terms of Use</a> <span>::</span> <a href="#">Privacy Statements</a></p>
              </div> 
            </div> 
    			</div>
    		</div>
     	</footer>
  </div>
</div>