<div class="container-fluid" id="search-page">
	<div class="row" id="search-container">
		<div class="col-sm-12">
			<div class="search-input-container" >
				<input type="search" class="search-input" placeholder="Search Gilead">
				<a class="search-btn-3"></a>
			</div>
			<div class="row">
				<div class="col-sm-8">
					<div class="row">
						<div id="search-results">
						   	<ul id="searchData"></ul>
						   	<div class="holder">
						   	</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="suggestionsBox">
						<p class="Subhead-3">Suggestions</p>
						<div class="seperator-dots">. . . . . . . . . . . . . . . . . . . . . . . . . . . . .</div>
						<p class="Subhead-3">Therapies</p> 
						<ul>
							<li><a href="#">HIV/AIDS</a></li>
							<li><a href="liver-disease.html">Liver Disease</a></li>
							<li><a href="#">Hematology/Oncology</a></li>
							<li><a href="#">Cardiovascular</a></li>
							<li><a href="#">Inflammation/Respiratory</a></li>
							<li><a href="#">Other Therapies</a></li>
						</ul>
						<p class="Subhead-3">Newsroom</p>
						<ul>
							<li><a href="#">Press Release</a></li>
							<li><a href="#">Events</a></li>
						</ul>
						<p class="Subhead-3">Quick Links</p>
						<ul>
							<li><a href="#">Research</a></li>
							<li><a href="#">Caring &amp; Access</a></li>
							<li><a href="#">About Gilead</a></li>
							<li><a href="#">Contact</a></li>
						</ul>
					</div>
				</div>	
			</div>
		</div>
	</div>
</div>
