<div class="container-fluid" id="sidebar-navigation">
	<div class="row">
		<div class="col-sm-12">
			<ul class="sidebar-navigation">
				<li><a href="" class="active">Dashboard</a></li>
				<li><a href="">Create a new trip</a></li>
				<li><a href="">Manage Master Trip</a></li>
				<li><a href="">My Trips</a></li>
				<li><a href="">My Travellers</li>
			</ul>
			<ul class="bottom-navigation">
				<li><a href="" class="active">FAQ</a></li>
				<li><a href="">Support</a></li>
			</ul>
		</div>
	</div>
</div>